*.exr
*.autosave
*.nk
*.log
*.o
*.a
*.sw*
*.swp
*.swo
*.mov
*.hip
*.hipnc
*.nk
*.py
*.sh
*.geo
*.abc
*.pyc
vdbTests
output/*
output*
swig/voyager.py
swig/*.so
swig/voyager.pyc
swig/voyager_wrap.cxx
.nfs*
img
