*.exr
*.tif
*.it
*.autosave
*.nk
*.log
*.o
*.a
*.sw*
*.swp
*.swo
*.mov
*.hip
*.hipnc
*.nk
*.nk~
*.py
*.sh
*.geo
*.abc
*.pyc
*.vdb
FastNoise.cpp
FastNoise.h
feb*
mar*
vdbTests
output/*
output*
swig/voyager.py
swig/*.so
swig/voyager.pyc
swig/voyager_wrap.cxx
.nfs*
img
itCatalogSaves
videos
pyScenes
nukeScenes
